body {
    margin: 0px;
    overflow: hidden;
}


rect:hover {
    fill: lightskyblue;
}

text {
    font-size: 0.8em;
    font-family: sans-serif;
    fill: #635F5D;
    text-anchor: middle;
    pointer-events: none;
    /*text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;*/
}

.description {
    text-anchor: end;
}

.legend {
    font-size: 1em;
    fill: none;
    stroke: #635F5D;
    stroke-width: 0.1em;
}
