body {
    margin: 0px;
    overflow: hidden;
}

path:hover {
    fill: lightskyblue;
}

text {
    font-size: 0.9em;
    fill : #635F5D;
    font-family: sans-serif;
}

#legendHeadline {
    font-size: 1.5em;
    text-decoration: underline;
}

#contentLabel {
    text-anchor: middle;
}