body {
    margin: 0px;
    overflow: hidden;
}


rect:hover {
    stroke: lightskyblue;
    stroke-width: 0.2em;
}

rect {
    stroke: #635F5D;
}

text {
    font-size: 0.9em;
    fill : #635F5D;
    font-family: sans-serif;
}

text .important {
    font-size: 1.3em;
    font-weight: bold;
}

#legendHeadline {
    font-size: 1.5em;
    text-decoration: underline;
}

#content {
    text-anchor: middle;
}

#tooltip {
    white-space: pre-wrap;
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip text {
    fill : white;
}

#tooltip rect {
    fill: #635F5D;
    opacity: 75%;
    stroke: #494847;
}