div {
    font-family: sans-serif;
    color : #635F5D;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    /*grid-auto-rows: minmax(10px, auto);*/
    gap: 10px;
    grid-auto-flow: column;
}

.main-headline {
    grid-column: 1 / 3;

    font-size: 3em;
    text-decoration: underline;
}

.topic {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    padding: 10px;

    border: 2px solid #635F5D;
}

.topic-headline {
    grid-column: 1 / 3;

    font-size: 2em;
    text-decoration: underline;
}

.content {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    gap: 10px;
    grid-auto-flow: row;

    padding-right: 10px;
    border-right: 2px solid #635F5D;
}


.diagrams {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(360px, auto);
    gap: 10px;
    grid-auto-flow: row;
    align-self: start;
}

.diagram {
    /*position: absolute;*/
    top: 0; left: 0;
    width: 100%;
    /*height: 100%;*/
    aspect-ratio: 2;
}

.info {
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.legend {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1.8;
}
.legend-container {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #635F5D;
}

.data {
}

th {
    font-size: 0.85em;
    font-weight: normal;
}

.slider-container {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #635F5D;
}

#timeSlider {
    width: 100%;
}

.button {
    width: 100%;
}

.showData {
    float: right;
}