body {
    margin: 0px;
    overflow: hidden;
}


text {
    font-size: 1em;
    font-family: sans-serif;
    fill : #635F5D;
    pointer-events: none;
}

.barText {
    font-size: 0.75em;
}

.tick line {
    opacity: 50%;
    stroke: #635F5D;
}
